{% extends 'main/base.html'%}
{% block content%} 
{% load static %}  
<style>
    .table{
         
         width: 400px;
         height: auto;
         max-width: 100%;
        max-height: 100%;
       
       text-align: center;
    }
    .table1{
         
         width: 100%;
         height: auto;
         max-width: 100%;
         max-height: 100%;
         text-align: start;
         padding-left: 40px;
         padding-right: 40px;
    }
    .mainp{
        padding-left: 50px;
    }
    /* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
      .table{
        background: transparent;
         width: 100%;
         height: auto;
         max-width: 100%;
        max-height: 100%;
       
       /*text-align: center;*/
    }
    .mainp{
        padding-left: 5px;
    }
    .table1{
         background: transparent;
         width: 100%;
         height: auto;
         max-width: 100%;
         max-height: 100%;
         text-align: start;
         padding-left: 0px;
         padding-right: 0px;
    }
}


</style>

  <header>
     
     <div class="col-md-10 mx-auto"> 
            <!-- Profile widget --> 
            <div class="bg-white shadow rounded overflow-hidden">
                 <div class="px-4 pt-0 pb-4 cover"> <div class="media align-items-end profile-head"> 
                    
                    <div class="profile mr-3">
                        
                    <h4 style=" text-align: center;">PRIVACY POLICY</h4> 
                    <h5 style=" text-align: start;">Our privacy obligations</h5> 
                    
                    <p style="font-size: 15px; text-align: justify;">Creative Bhutan is governed by the Information, Communications and Media Act of Bhutan
2018 and Social Media Policy of the Royal Government of Bhutan. “Personal Data” or “Personal
information” means any data or information which relates to a person who can be identified from
that data or that data or other information, which is in the possession of, or is likely to come into
the possession of, an ICT service provider or ICT facility provider, and includes any expression
of opinion about that person and any indication of the intentions of the ICT service provider or
ICT facility provider or any other person in respect of that person. We do not post any
information or other material protected by copyright without permission. We review the policy
regularly, and we may update it from time to time.</p>

<h5 style=" text-align: start;">Personal information we collect and store</h5> 
                    
                    <p style="font-size: 15px; text-align: justify;">We collect personal information about our users to provide our services as efficiently as possible
including &quot;User Generated Content&quot; that users provide us with the intention of sharing with other
users to communicate with each other. Users may also provide personal information without us
asking for it through other means. In this case, the user will have bypassed our system&#39;s security
and therefore the information stored will not be governed by this privacy policy.</p>

<h5 style=" text-align: start;">How we collect personal information</h5> 
                    
                    <p style="font-size: 15px; text-align: justify;">While using our services, you may be asked to provide certain types of personal information.
This can be through our website and telephone. We may request, collect, or process the
following information:</p>

          <div class="table1">
              <p class="mainp" style="font-weight:bold; ">● Account Details - username, password, profile picture.</p>
          </div>
          <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● Contact Details - email address, phone number.</p>
          </div>
           <div class="table1">
              <p class="mainp" style="font-weight:bold; ">● Location Details - Current address, Permanent address.</p>
          </div>
          <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● Identity Details - full name, proof of identity (CID), proof of address</p>
          </div>
         <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● User Generated Content - Portfolios, skills, user profiles, user reviews.</p>
          </div>
      <!---->
      
<h5 style=" text-align: start;">Other Information we collect</h5> 
                    
                    <p style="font-size: 15px; text-align: justify;">We maintain records of all interactions we have with our users, including the services and
customer support we have provided including interactions our users have initiated with our
system such as when a user has viewed a page.</p>

<h5 style=" text-align: start;">Other Information we may collect and/or process</h5> 
          <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● Metadata - IP address, computer and connection information, referring web page,
etc.</p>
          </div>
                    <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● Actions - pages viewed</p>
          </div>

<h5 style=" text-align: start;">Links to other sites</h5> 
                    
                    <p style="font-size: 15px; text-align: justify;">We advise users to verify the terms and conditions of using Creative Bhutan and its privacy
policy if you are providing your personal information via any other external website linked from
our site.</p>
                    <p style="font-size: 15px; text-align: justify;">How we use personal information.</p>
                    <p style="font-size: 15px; text-align: justify;">The information we collect, store, and process are primarily used to provide services users have
requested for. We may generally use your personal information for the following purposes:</p>

          </div>
        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● to generate data on the Creative Sector of Bhutan;</p>
          </div>
        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● to conduct analysis and research to promote the Creative Sector of Bhutan.</p>
          </div>
        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● to comply with legal and regulatory obligations;</p>
         </div>

                   <p style="font-size: 15px; text-align: justify;">We may disclose your personal information to third parties for the following purposes only:</p>

        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● if necessary, to provide the service you have requested upon user’s consent;</p>
         </div>
        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● If we receive court orders, or other requests for information by law enforcement
agencies;</p>
         </div>
         
        <div  class="table1">
              <p class="mainp" style="font-weight:bold;">● if otherwise permitted or required by law.</p>
         </div>
         
  
<h5 style=" text-align: start;">Accuracy of personal information</h5> 
                    <p style="font-size: 15px; text-align: justify;">Users must share the correct personal Information with us. Users with insufficient or inaccurate
information that we believe is not legitimate shall be removed and blacklisted from our system to
ensure security and reliability of our service. If any inappropriate post is brought to our attention,
we shall reserve the right to take appropriate action, including, without limitation, terminating
access to users who do not abide by these guidelines.</p>









{%endblock%}



