
{% extends 'main/base.html'%}
{% block content%} 
{% load static %}  
<style>
    .table{
         
         width: 400px;
         height: auto;
         max-width: 100%;
        max-height: 100%;
       
       text-align: center;
    }
    .table1{
         
         width: 100%;
         height: auto;
         max-width: 100%;
         max-height: 100%;
         text-align: start;
         padding-left: 40px;
         padding-right: 40px;
    }
    .mainp{
        padding-left: 50px;
    }
    /* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
      .table{
        background: transparent;
         width: 100%;
         height: auto;
         max-width: 100%;
        max-height: 100%;
       
       /*text-align: center;*/
    }
    .mainp{
        padding-left: 5px;
    }
    .table1{
         background: transparent;
         width: 100%;
         height: auto;
         max-width: 100%;
         max-height: 100%;
         text-align: start;
         padding-left: 0px;
         padding-right: 0px;
    }
}


</style>

  <header>
     
     <div class="col-md-10 mx-auto"> 
            <!-- Profile widget --> 
            <div class="bg-white shadow rounded overflow-hidden">
                 <div class="px-4 pt-0 pb-4 cover"> <div class="media align-items-end profile-head"> 
                    
                    <div class="profile mr-3">
                        
                    <h4 style=" text-align: center;">TERMS OF USE</h4> 
                    <p style="font-size: 15px; text-align: justify;">These Terms and Conditions govern your use of the website and any related services provided by
Creative Bhutan.</p>
                    <p style=" text-align: start;">By accessing the Creative Bhutan Website, you agree to abide by these Terms and Conditions
and to comply with all relevant laws and Rules and Regulations. If you do not agree with these
Terms and Conditions, you are prohibited from using or accessing this website or using any other
services provided by Creative Bhutan.</p>
 <p style="font-weight:bold;">1. The Services we Provide</p>
      <div class="table">
          <p style="font-weight:bold;">1.1. Services we provide for members</p>

      </div>
                <div class="table1">
              <p class="mainp" style="font-weight:bold; ">1.1.1. A platform to showcase your talent, promote your events and
connect you to national, regional and international markets.</p>
          </div>
          <div  class="table1">
              <p class="mainp" style="font-weight:bold;">1.1.2. Research to make our system better to cater to the needs of the
Creative Sector.</p>
      </div>
      <!---->
     
<p style="font-weight:bold; "> 1.2. Services we provide for non-members</p>
 
     <div class="table1">
              <p class="mainp" style="font-weight:bold; "> 1.2.1. Comprehensive data on the Creative Industry of Bhutan..</p>
          </div>
            <div class="table1">
              <p style="font-weight:bold; "> 1.2.2. We provide information on creative artists/organizations and
events happening near your area.</p>
          </div>
            <div class="table1">
              <p class="mainp" style="font-weight:bold; ">1.2.3. We help you connect with artists easily.</p>
          </div>
      <!---->
      
     <p style="font-weight:bold;">2. Your commitments to Creative Bhutan and our community</p>
     <div class="table1">
          <p class="mainp" style="font-weight:bold; ">We provide these services to you and others to help advance our objectives. In exchange,
we need you to make the following:</p>
       <div class="table1">
          <p class="mainp" style="font-weight:bold; ">2.1. Who can become a member of Creative Bhutan</p>
           <div class="table1">
          <p class="mainp" style="font-weight:bold; ">When people stand behind their opinions and actions, our community is safer and more
accountable. For this reason, you shall:</p>
   <div class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.1. Use the same name that you use in everyday life.
          </p>
     </div>
      <div class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.2. Provide accurate information about yourself.
          </p>
     </div>
      <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.3. Create only one account (your own) and use your timeline for
personal purposes.
          </p>
     </div>
     <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.4. Not share your password, give access to your account to others, or
transfer your account to anyone else (without our permission).
          </p>
     </div>
     <p class="mainp" style="font-weight:bold; "> We try to make Creative Bhutan broadly available to everyone, but you shall not use
Creative Bhutan if:</p>

<div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.5. We&#39;ve previously disabled your account for violations of our
Terms or Policies.
          </p>
     </div>
     <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          2.1.6. You are prohibited from receiving our services, or software under
applicable laws.
          </p>
     </div>
     <p style="font-weight:bold;">2.2. What you can share and do on Creative Bhutan</p>
      <p class="mainp" style="font-weight:bold; "> We want people to use Creative Bhutan to express themselves and to share content that is
important to them, but not at the expense of the safety and well-being of others or the
integrity of our community. You therefore agree not to engage in the conduct described
below (or to facilitate or support others in doing so):</p>
<div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
         2.2.1. You shall not use our Products to do or share anything:
          </p>
        <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
                      2.2.1.1. That violates these Terms and conditions, our Community
Standards, and our Privacy Policy that apply to your use of
Creative Bhutan.
          </p>
     </div>
       <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
                      2.2.1.2. That is unlawful, misleading, discriminatory or fraudulent.
          </p>
     </div>
       <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
                      2.2.1.3. That infringes or violates someone else&#39;s rights, including
their intellectual property rights.
          </p>
     </div>

     </div>
     
         <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
2.2.2. You shall not upload viruses or malicious code or do anything that
could disable, overburden, or impair the proper working or appearance of
the system.
          </p>
     </div>
     
    <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
2.2.3. You shall not access or collect data from our Products using
automated means (without our prior permission) or attempt to access data
you do not have permission to access.
          </p>
     </div>
     
      <p style="font-weight:bold; ">* We may remove or restrict access to content that is in violation of these provisions.</p>
       <p style="font-weight:bold; ">  * We may remove or restrict access to your content, services or information if we
determine that doing so is reasonably necessary to avoid or mitigate adverse legal or
regulatory impacts to Creative Bhutan.</p>

       <p style="font-weight:bold; "> 3. Dispute Settlement</p>
          <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
           3.1. Any dispute between the parties regarding hiring of services, including
payment or other associated terms, shall be resolved through mutual consultations
between the Parties and based on the principles of mutual understanding and
respect.
          </p>
     </div>
       <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          3.2. In case if the dispute between the Parties are not resolved through mutual
consultation, the Parties may refer the matter for mediation by Creative Bhutan.
          </p>
     </div>
      <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          3.3. The cases which are beyond the purview of Creative Bhutan, this shall be
referred to the Court of competent jurisdiction by either of the Parties.
          </p>
     </div>
     
     <p style="font-weight:bold; ">4. Additional Provisions:</p>
          <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          4.1. Updating these Terms and Conditions
          </p>
           <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          Creative Bhutan, reserves the right to review and amend any of these Terms and
Conditions at our sole discretion. Any changes to these Terms and Conditions will
take effect immediately from the date of publication.
          </p>
     </div>
     </div>
     
     <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          4.2. Account Suspension or termination
          </p>
           <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
         We want Creative Bhutan to project accurate information on the Sector.
Therefore, if there is false/misleading information we may suspend or
permanently disable access to your account. We may also suspend or disable your
account where we are required to do so for legal reasons. We may also disable
your account if you go against the Terms, Community Standard and Privacy
Policy.
          </p>
     </div>
     </div>
     
        <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          4.3. Limits on liability
          </p>
           <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
           We work hard to provide the best we can and to specify clear guidelines for
everyone who uses them. Creative Bhutan however, is provided &quot;as is,&quot; and we
make no guarantees that they always will be safe, secure, or error-free, or that
they will function without disruptions, delays, or imperfections. To the extent
permitted by law, we also DISCLAIM ALL WARRANTIES, WHETHER
EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE,
AND NON-INFRINGEMENT. We do not control or direct what people and
others do or say, and we shall not be responsible for their actions or conduct
(whether online or offline) or any content they share (including offensive,
inappropriate, obscene, unlawful, and other objectionable content).
We cannot predict when issues might arise with Creative Bhutan. Accordingly,
our liability shall be limited to the fullest extent permitted by applicable laws, and
under no circumstance will we be liable to you for any lost profits, revenues,
information, or data, or consequential, special, indirect, exemplary, punitive, or
incidental damages arising out of or related to these Terms, even if we have been
advised of the possibility of such damages.
          </p>
     </div>
     </div>
     
     
     <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
          5. Use data to make informed decisions
          </p>
           <div  class="table1">
          <p class="mainp" style="font-weight:bold; ">
   We analyze data we have about our users (both members and non-members) to
understand the scenario in Bhutanese Creative Sector.
          </p>
     </div>
     </div>
     
     
     </div>
     </div>
     </div>
     <h5 style=" color:black; text-align: center;">CODE OF CONDUCT / COMMUNITY STANDARD</h5>
     <h6 style=" color:black; text-align: start;">AUTHENTICITY</h6>
            <p style="font-size: 15px; text-align: justify;">We want to make sure the content people see on Creative Bhutan is authentic. We believe that
authenticity creates a better environment for sharing, and that’s why we don’t want people using
Creative Bhutan to misrepresent who they are or what they’re doing.</p>

 <h6 style=" color:black; text-align: start;">SAFETY</h6>
            <p style="font-size: 15px; text-align: justify;">We’re committed to making Creative Bhutan a safe place. We remove content that could
contribute to a risk of harm to the physical security of persons. Content that threatens people has
the potential to intimidate, exclude or silence others and isn’t allowed on Creative Bhutan.</p>

<h6 style=" color:black; text-align: start;">PRIVACY</h6>
            <p style="font-size: 15px; text-align: justify;">We’re committed to protecting personal privacy and information. Privacy gives people the
freedom to be themselves, choose how and when to share on Creative Bhutan and connect more
easily.</p>

<h6 style=" color:black; text-align: start;">DIGNITY</h6>
            <p style="font-size: 15px; text-align: justify;">We believe that all people are equal in dignity and rights. We expect that people will respect the
dignity of others and not harass or degrade others.</p>
    
          </div>
        </div>
      </div>
    </div>




{%endblock%}
