


{% extends 'main/base.html'%}

{% block content%} 
{% load static %}

 <style>

.card {
  background-color: ghostwhite;
  color: white;
  padding: 1rem;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
    </style>

 <div class="container-xl">
     <h5 class="title-section " style="text-align: center; "><span >&nbsp;Artist Profile</span> </h5>
      <h5 style="font-weight: lighter; font-size: small; text-align: center;">View artist profile from the following categories:</h5>
        <div class="cards">
        <div class="card">
            <h5 class="title-section " style="text-align: center; "><span >&nbsp;Heritage</span> </h5>
         <h2 style="text-align: center; "><span class="count">{{ heriage }}</span></h2>
         <hr>
        <p style="text-align:center; color: #000; font-weight: bold;">Traditional cultural expression</p>
        <a href="{% url 'artc'%}"><p style="text-align:center; color:#45444a"> Art crafts </p> </a>
        <a href="{% url 'festival'%}"><p style="text-align:center; color:#45444a">Festival</p></a>
        <a href="{% url 'cel'%}"><p style="text-align:center; color:#45444a">Celebration</p></a>
        <br>
        <p style="text-align:center; color: #000; font-weight: bold;"> Cultural sites </p>
        <a href="{% url 'histo'%}"><p style="text-align:center; color:#45444a">Historical monuments </p></a>
        <a href="{% url 'muse'%}"><p style="text-align:center; color:#45444a">Museum </p></a>
        <a href="{% url 'labri'%}"><p style="text-align:center; color:#45444a">Library </p></a>
        <a href="{% url 'achi'%}"><p style="text-align:center; color:#45444a">Archive</p></a>
        </div>
        <div class="card">
            <h5 class="title-section " style="text-align: center; "><span >&nbsp;Arts</span> </h5>
           <h2 style="text-align: center; "><span class="count">{{ arts}}</span></h2>
           <hr>
        <p style="text-align:center; color: #000; font-weight: bold;"> Visual Arts </p>
        <a href="{% url 'paint'%}"><p style="text-align:center; color:#45444a"> Painting </p></a>
        <a href="{% url 'digi'%}"><p style="text-align:center; color:#45444a">Digital Art</p></a>
        <a href="{% url 'photo'%}"><p style="text-align:center; color:#45444a">Photography</p></a>
        <a href="{% url 'scul'%}"><p style="text-align:center; color:#45444a">Sculpture</p></a>
        <a href="{% url 'pott'%}"><p style="text-align:center; color:#45444a">Pottery</p></a>
        <br>
        <p style="text-align:center; color: #000; font-weight: bold;">Performing Art </p>
        <a href="{% url 'liv'%}"><p style="text-align:center; color:#45444a">Music </p></a>
        <a href="{% url 'thea'%}"><p style="text-align:center; color:#45444a">Theater </p></a>
        <a href="{% url 'dan'%}"><p style="text-align:center; color:#45444a">Dance </p></a>
        <a href="{% url 'ope'%}"><p style="text-align:center; color:#45444a">Opera</p></a>
        <a href="{% url 'pup'%}"><p style="text-align:center; color:#45444a">Puppetry</p></a>
        </div>
        <div class="card">
            <h5 class="title-section " style="text-align: center; "><span >&nbsp;Media</span> </h5>
          <h2 style="text-align: center; "><span class="count">{{ media }}</span></h2>
          <hr>
        <p style="text-align:center; color: #000; font-weight: bold;">Publishing </p>
        <a href="{% url 'book'%}"><p style="text-align:center; color:#45444a"> Book </p></a>
        <a href="{% url 'maga'%}"><p style="text-align:center; color:#45444a">Magazine</p></a>
        <a href="{% url 'com'%}"><p style="text-align:center; color:#45444a">Comic</p></a>
        <br>
        <p style="text-align:center; color: #000; font-weight: bold;"> Audiovisual  </p>
        <a href="{% url 'fil'%}"><p style="text-align:center; color:#45444a">Film </p></a>
        <a href="{% url 'tele'%}"><p style="text-align:center; color:#45444a">Television </p></a>
        <a href="{% url 'rad'%}"><p style="text-align:center; color:#45444a">Radio</p></a>
        <a href="{% url 'musv'%}"><p style="text-align:center; color:#45444a">Music Video</p></a>
        <br>
        <p style="text-align:center; color: #000; font-weight: bold;">New Media </p>
        <a href="{% url 'digicon'%}"><p style="text-align:center; color:#45444a">Digitized content </p></a>
        <a href="{% url 'soft'%}"><p style="text-align:center; color:#45444a">Software </p></a>
        <a href="{% url 'videogame'%}"><p style="text-align:center; color:#45444a">Video game  </p></a>
        <a href="{% url 'anima'%}"><p style="text-align:center; color:#45444a">Animation</p></a>
        </div>
        <div class="card">
            <h5 class="title-section " style="text-align: center; "><span >&nbsp;Funtional Creation</span> </h5>
          <h2 style="text-align: center; "><span class="count">{{creation}}</span></h2>
          <hr>
        <p style="text-align:center; color: #000; font-weight: bold;">Design </p>
        <a href="{% url 'fas'%}"><p style="text-align:center; color:#45444a">Fashion </p></a>
        <a href="{% url 'jewe'%}"><p style="text-align:center; color:#45444a">Jewellery</p></a>
        <a href="{% url 'toy'%}"><p style="text-align:center; color:#45444a">Toys </p></a>
        <a href="{% url 'inte'%}"><p style="text-align:center; color:#45444a">Interior/Set Design </p></a>
        <a href="{% url 'graph'%}"><p style="text-align:center; color:#45444a">Graphic </p></a>
        <br>
        <p style="text-align:center; color: #000; font-weight: bold;">Creative services </p>
        <a href="{% url 'arch'%}"><p style="text-align:center; color:#45444a">Architecture </p></a>
        <a href="{% url 'adver'%}"><p style="text-align:center; color:#45444a">Advertising</p></a>
        <a href="{% url 'creative'%}"><p style="text-align:center; color:#45444a">Creative R&D</p></a>
        <a href="{% url 'ser'%}"><p style="text-align:center; color:#45444a">Creative event services </p></a>
        <a href="{% url 'digicreative'%}"><p style="text-align:center; color:#45444a">Digital Services</p></a>
        </div>
        
      </div>
 </div>
 

  
    
<div class="container-xl">
    <h5 style="font-weight: lighter; font-size: small;">UNCTAD Classification of <span style="color:#000000;">Creative Industry</span></h5>
</div>
    
 
  

  
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script>
  $(".count").each(function () {
  $(this)
    .prop("Counter", 0)
    .animate(
      {
        Counter: $(this).text()
      },
      {
        duration: 800,
        easing: "swing",
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      }
    );
});


</script>
{%endblock%}
